<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- add meta tags to increase SEO -->
    <title>NodeJS Express Template</title>
    <link rel="stylesheet" href="js/vendor/milligram/dist/milligram.min.css">
    <link rel="stylesheet" href="js/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="js/vendor/animate.css/animate.min.css">
    <link rel="stylesheet" href="css/style.css">

  </head>

  <body>
      
      <h1>BOOM... <span> This template just got set up in seconds </span> </h1>

      <ul>Comes setup with:
        <li>Express and EJS</li>
        <li>Bower, with jQuery, AnimateCSS, Font-Awesome and Milligram</li>
        <li>Gulp SASS - with Gulp Watching any changes to SCSS files.</li>
      </ul>

      <ul>Could do with adding:
        <li>A full set of RESTFUL routes for user</li>
        <li>Angular</li>
      </ul>
      
  <script src="js/vendor/jquery/dist/jquery.min.js"></script>
  <script src="js/app.js"></script>


  </body>

</html>
